html,
body {
  height: 100%;
  font-family: "Cabin", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #225ea2;
  font-weight: 400;
  font-family: "Lora", serif;
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
p {
  font-size: 16px;
  font-family: "Cabin", sans-serif;
  color: #6b6b6b;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 15px 0;
}
img {
  max-width: 100%;
}
input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}
a {
  color: #19191a;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #225ea2;
}
ul,
ol {
  padding: 0;
  margin: 0;
}
/*---------------------
  Helper CSS
-----------------------*/

.section-title {
  text-align: center;
  margin-bottom: 22px;
}
.section-title span {
  font-size: 14px;
  color: #225ea2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.section-title h2 {
  font-size: 44px;
  color: #19191a;
  line-height: 58px;
  margin-top: 10px;
}
.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
a.navlink:hover,
a.navlink:active {
  color: #225ea2 !important;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
  color: #fff;
}
/* buttons */

.primary-btn {
  display: inline-block;
  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  position: relative;
}
.primary-btn:after {
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background: #225ea2;
  content: "";
}

/*---------------------
  Header
-----------------------*/
.header-section {
  box-shadow: 5px 1px 8px #888888;
}

.header-section.header-normal .menu-item {
  -webkit-box-shadow: 0px 12px 15px rgba(36, 11, 12, 0.05);
  box-shadow: 0px 12px 15px rgba(36, 11, 12, 0.05);
}
.top-nav {
  border-bottom: 1px solid #e5e5e5;
}
.top-nav .tn-left li {
  list-style: none;
  display: inline-block;
  font-size: 16px;
  color: #19191a;
  font-weight: 500;
  padding: 14px 0 12px;
  margin-right: 64px;
  position: relative;
}
.top-nav .tn-left li:after {
  position: absolute;
  right: -32px;
  top: 0;
  width: 1px;
  height: 100%;
  background: #e5e5e5;
  content: "";
}
.top-nav .tn-left li:last-child {
  margin-right: 0;
}
.top-nav .tn-left li:last-child:after {
  display: none;
}
.top-nav .tn-left li i {
  color: #225ea2;
  margin-right: 4px;
}
.top-nav .tn-right {
  text-align: right;
}
.top-nav .tn-right .top-social {
  display: inline-block;
  margin-right: 35px;
  padding: 13px 0;
}
.top-nav .tn-right .top-social a {
  display: inline-block;
  font-size: 16px;
  color: #19191a;
  margin-left: 15px;
}
.top-nav .tn-right .bk-btn {
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  padding: 17px 28px 15px;
  background: #225ea2;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.top-nav .tn-right .language-option {
  display: inline-block;
  margin-left: 30px;
  cursor: pointer;
  padding: 13px 0px 11px;
  position: relative;
}
.top-nav .tn-right .language-option:hover .flag-dropdown {
  top: 40px;
  opacity: 1;
  visibility: visible;
}
.top-nav .tn-right .language-option img {
  height: 26px;
  width: 26px;
  /* border-radius: 50%; */
  margin-right: 10px;
}
.top-nav .tn-right .language-option span {
  font-size: 16px;
  color: #19191a;
  text-transform: uppercase;
  font-weight: 500;
}
.top-nav .tn-right .language-option .flag-dropdown {
  position: absolute;
  left: 0;
  top: 60px;
  width: 100px;
  background: #ffffff;
  display: block;
  padding: 10px 15px;
  -webkit-box-shadow: 0px 9px 10px rgba(25, 25, 26, 0.2);
  box-shadow: 0px 9px 10px rgba(25, 25, 26, 0.2);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 99;
}
.top-nav .tn-right .language-option .flag-dropdown ul li {
  list-style: none;
  text-align: left;
}
.top-nav .tn-right .language-option .flag-dropdown ul li a {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: #19191a;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.top-nav .tn-right .language-option .flag-dropdown ul li a:hover {
  color: #225ea2;
}
.menu-item {
  position: relative;
  z-index: 9;
}
.menu-item .logo {
  /* padding: 25px 0; */
  padding-top: 22px;
  padding-bottom: 13px;
}
.menu-item .logo a {
  display: inline-block;
}
.menu-item .nav-menu {
  text-align: right;
}
.menu-item .nav-menu .mainmenu {
  display: inline-block;
}
.menu-item .nav-menu .mainmenu li {
  list-style: none;
  display: inline-block;
  position: relative;
  z-index: 1;
}
.menu-item .nav-menu .mainmenu li.active a:after {
  opacity: 1;
}
.menu-item .nav-menu .mainmenu li:hover > a:after {
  opacity: 1;
}

.menu-item .nav-menu .mainmenu li:hover .dropdown {
  top: 77px;
  opacity: 1;
  visibility: visible;
}
.menu-item .nav-menu .mainmenu li a {
  text-align: left !important;

  font-size: 16px;
  color: #19191a;
  margin-right: 50px;
  font-weight: 500;
  display: inline-block;
  padding: 27px 0;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.menu-item .nav-menu .mainmenu li a:after {
  position: absolute;
  left: 0;
  top: 52px;
  width: 100%;
  height: 2px;
  background: #225ea2;
  content: "";
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.menu-item .nav-menu .mainmenu li .dropdown {
  position: absolute;
  left: 0;
  top: 97px;
  width: 180px;
  background: #ffffff;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0px 9px 15px rgba(25, 25, 26, 0.05);
  box-shadow: 0px 9px 15px rgba(25, 25, 26, 0.05);
}
.menu-item .nav-menu .mainmenu li .dropdown li {
  list-style: none;
  display: block;
  width: 100%;
}
.menu-item .nav-menu .mainmenu li .dropdown li a {
  font-size: 16px;
  color: #19191a;
  /* float: right; */
  display: block;
  text-align: center;
  padding: 8px 15px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.menu-item .nav-menu .mainmenu li .dropdown li a:hover {
  color: #225ea2;
}
.menu-item .nav-menu .mainmenu li .dropdown li a:after {
  display: none;
}
.menu-item .nav-menu .nav-right {
  display: inline-block;
  padding: 27px 0px;
}
.menu-item .nav-menu .nav-right i {
  font-size: 16px;
  color: #19191a;
  cursor: pointer;
}
.canvas-open {
  display: none;
}
.offcanvas-menu-wrapper {
  display: none;
}

/*-------------------------------- Respinsive Media Styles --------------------------------*/

@media only screen and (max-width: 991px) {
  .menu-item .logo {
    padding-top: 8px !important;
    padding-bottom: 8px;
  }

  .top-nav {
    display: none;
  }
  .menu-item .nav-menu {
    display: none;
  }
  .offcanvas-menu-overlay {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 98;
    height: 100%;
    width: 100%;
    visibility: hidden;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .offcanvas-menu-overlay.active {
    visibility: visible;
  }
  .canvas-open {
    position: absolute;
    right: 15px;
    top: 11px;
    font-size: 28px;
    width: 30px;
    height: 30px;
    /* border: 1px solid #225EA2; */
    color: #225ea2;
    border-radius: 2px;
    line-height: 0px;
    text-align: center;
    z-index: 100;
    display: block;
    cursor: pointer;
  }
  .offcanvas-menu-wrapper {
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    z-index: 999;
    background: #ffffff;
    text-align: center;
    overflow-y: auto;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    padding: 50px 30px 10px 30px;
    display: block;
  }
  .offcanvas-menu-wrapper .canvas-close {
    height: 30px;
    width: 30px;
    /* border: 1px solid #225EA2; */
    font-size: 28px;
    color: #225ea2;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    padding-right: 1px;
  }
  .offcanvas-menu-wrapper .search-icon {
    color: #19191a;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .offcanvas-menu-wrapper .header-configure-area {
    margin-bottom: 30px;
  }
  .offcanvas-menu-wrapper .header-configure-area .language-option {
    display: inline-block;
    cursor: pointer;
    padding: 13px 0;
    position: relative;
    margin-bottom: 10px;
  }
  .offcanvas-menu-wrapper
    .header-configure-area
    .language-option:hover
    .flag-dropdown {
    top: 40px;
    opacity: 1;
    visibility: visible;
  }
  .offcanvas-menu-wrapper .header-configure-area .language-option img {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .offcanvas-menu-wrapper .header-configure-area .language-option span {
    font-size: 16px;
    color: #19191a;
    text-transform: uppercase;
    font-weight: 500;
  }
  .offcanvas-menu-wrapper
    .header-configure-area
    .language-option
    .flag-dropdown {
    position: absolute;
    left: 0;
    top: 60px;
    width: 100px;
    background: #ffffff;
    display: block;
    padding: 10px 15px;
    -webkit-box-shadow: 0px 9px 10px rgba(25, 25, 26, 0.2);
    box-shadow: 0px 9px 10px rgba(25, 25, 26, 0.2);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 99;
  }
  .offcanvas-menu-wrapper
    .header-configure-area
    .language-option
    .flag-dropdown
    ul
    li {
    list-style: none;
    text-align: left;
  }
  .offcanvas-menu-wrapper
    .header-configure-area
    .language-option
    .flag-dropdown
    ul
    li
    a {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #19191a;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .offcanvas-menu-wrapper
    .header-configure-area
    .language-option
    .flag-dropdown
    ul
    li
    a:hover {
    color: #225ea2;
  }
  .offcanvas-menu-wrapper .header-configure-area .bk-btn {
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    padding: 16px 28px 15px;
    background: #225ea2;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .offcanvas-menu-wrapper .mainmenu {
    display: none;
  }
  .offcanvas-menu-wrapper .slicknav_menu {
    background: transparent;
    padding: 44px 0px 5px 0px;
  }
  .offcanvas-menu-wrapper .slicknav_menu .slicknav_btn {
    float: none;
    margin: 0 0 10px 0;
    display: none;
  }
  .offcanvas-menu-wrapper .slicknav_menu .slicknav_nav {
    display: block !important;
  }
  .offcanvas-menu-wrapper .slicknav_menu .slicknav_nav ul {
    margin: 0;
    text-align: left;
  }
  .offcanvas-menu-wrapper .slicknav_menu .slicknav_nav ul li {
    padding-left: 20px;
  }
  .offcanvas-menu-wrapper .slicknav_menu .slicknav_nav ul li a {
    margin: 0;
    padding: 10px;
    font-weight: 600;
    font-size: 14px;
    color: #19191a;
    border-bottom: 1px solid #e5e5e5;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .offcanvas-menu-wrapper .slicknav_menu .slicknav_nav ul li a:hover {
    border-radius: 0;
    background: transparent;
    color: #225ea2;
  }
  .offcanvas-menu-wrapper .slicknav_menu .slicknav_nav .slicknav_row a {
    border-bottom: 0;
    padding-left: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .offcanvas-menu-wrapper .slicknav_menu .slicknav_nav .slicknav_row span {
    color: #19191a;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .offcanvas-menu-wrapper .slicknav_menu .slicknav_nav .slicknav_row:hover a {
    color: #225ea2;
  }
  .offcanvas-menu-wrapper
    .slicknav_menu
    .slicknav_nav
    .slicknav_row:hover
    span {
    color: #225ea2;
  }
  .offcanvas-menu-wrapper .top-social {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 8px;
  }
  .offcanvas-menu-wrapper .top-social a {
    display: inline-block;
    font-size: 16px;
    color: #19191a;
    margin-right: 20px;
  }
  .offcanvas-menu-wrapper .top-social a:last-child {
    margin-right: 0;
  }
  .offcanvas-menu-wrapper .top-widget li {
    list-style: none;
    font-size: 16px;
    color: #19191a;
    font-weight: 500;
    line-height: 30px;
  }
  .offcanvas-menu-wrapper .top-widget li i {
    color: #225ea2;
    margin-right: 4px;
  }
  .offcanvas-menu-wrapper.show-offcanvas-menu-wrapper {
    left: 0;
    opacity: 1;
    visibility: visible;
  }
}

.flexbox {
  background: linear-gradient(155deg, #ffffff, #ffffff, #ffffff);
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

/* search bar for desktop view  */

.search > div {
  display: inline-block;
  /* position: relative; */
}

.search > div:after {
  content: "";
  background: #225ea2;
  width: 2px;
  height: 12px;
  position: absolute;
  top: 46px;
  transform: rotate(135deg);
  box-shadow: 1px 0 #ffffff;
}

.search > div > input {
  color: rgb(0, 0, 0);
  font-size: 16px;
  background: transparent;
  width: 25px;
  height: 25px;
  padding: 10px;
  border: solid 2px #225ea2;
  outline: none;
  border-radius: 35px;
  box-shadow: 0 1px #ffffff;
  transition: width 0.8s;
}

.search > div > input::placeholder {
  color: #424242;
  opacity: 0;
  transition: opacity 200ms ease-out;
}

.search > div > input:focus::placeholder {
  opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 150px;
}

/* search bar for mobile view  */

.searchM > div > input {
  color: rgb(0, 0, 0);
  font-size: 16px;

  background: transparent;
  width: 70px;
  height: 30px;
  padding: 10px;
  border: solid 2px #225ea2;
  outline: none;
  border-radius: 35px;
  box-shadow: 0 1px #ffffff;
  transition: width 0.8s;
}

.searchM > div > input::placeholder {
  color: #424242;
  opacity: 1;
  transition: opacity 200ms ease-out;
}

.searchM > div > input:focus::placeholder {
  opacity: 1;
}

.searchM > div > input:focus,
.searchM > div > input:not(:placeholder-shown) {
  width: 200px;
}

.collapse {
  list-style-type: none;
}

.sidenav ul {
  transition: all 0.4s ease;
}
.sidenav ul li {
  width: 100%;
}

.sidenav ul li a {
  display: flex;
  font-size: 14px;
  font-weight: 600;
  color: #19191a;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px;
  transition: all 0.3s;
}
.dropdownIcon {
  margin-left: auto;
  text-align: right;
  margin-top: 4px;
  font-weight: 500;
}

.SubMenu {
  list-style-type: none;
  padding-left: 20px;
}

/* remove bootstrap paddings */
.col-lg-9,
.col-lg-6 {
  padding: 0 !important;
}
